<!-- Modal de Fin de Juego -->
<div
  class="modal fade"
  id="endGameModal"
  tabindex="-1"
  aria-labelledby="endGameModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: gameEnded }"
  [ngStyle]="{ display: gameEnded ? 'block' : 'none' }"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="endGameModalLabel">Juego terminado</h5>
      </div>
      <div class="modal-body">
        <p>
          {{
            gameWon ? "¡Felicidades! Has ganado." : "Lo siento, has perdido."
          }}
        </p>
        El juego ha terminado. Desea volver al inicio?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="goHome()">
          Volver a Inicio
        </button>
        <button type="button" class="btn btn-primary" (click)="resetGame()">
          Jugar de nuevo
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor Principal -->
<div class="contenedor-principal">
  <app-btn-salir></app-btn-salir>
  <div class="container">
    <div>
      <img
        src="logo-quiz.png"
        alt="Logo Quiz"
        style="width: 30vw; height: auto; margin-top: 0; margin-bottom: 30px;"
      />
    </div>
    <div
      *ngIf="!this.gameEnded && this.currentLogotype"
      class="card container-pregunta"
    >
      <p class="card-header">¿A qué marca corresponde el siguiente logotipo?</p>
      <img src="{{ this.currentLogotype.logo }}" alt="" />
      <ul class="ul-opciones">
        <li *ngFor="let item of this.currentPregunta.opciones">
          <button
            class="btn-clean"
            id="{{ item }}"
            (click)="enviarRespuesta(item)"
          >
            {{ item }}
          </button>
        </li>
      </ul>
    </div>
    <!-- <p>Puntaje: {{ this.userScore }}</p>
    <p>Nombre:{{ this.currentPregunta.name }}</p> -->
  </div>
</div>
