.contenedor-principal{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    height: 80%;
    max-height: 80%;
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.contenedor-messages{
    height: 70vh;
    overflow-y:scroll;
}

.contenedor-input{
    height: 10%;

}


.message{
    background-color: rgba(212, 123, 220, 0.7);
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    width: max-content;
    border-radius: 10px;
}


.message-date{
    color: rgb(167, 84, 160);
}

.message-sender{
    color: purple;
}

.message-input{
    margin-top: 0px;
    margin-left: 20px;
    /*position: absolute;
    /*bottom: 0;  This docks the element at the bottom of the container */
    width: 100%;  /*Make it span the full width if desired */
    /*background-color: lightgray; /* Optional styling */
    /*padding: 10px;
    /*text-align: center;*/
}

.chat-input{
    width: 80%;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

hr{
    height: 2px;
}

.selfUser{
    background-color: rgba(123, 201, 220, 0.8);
    align-self:flex-end;
}