<div class="container mt-5 rounded-5 contenedor-principal">
  <div class="row align-items-center">
    <!-- Columna de la imagen -->
    <div class="col-md-6 text-center">
      <img class="foto-perfil" src="/perfil.jpg" alt="Foto de Perfil" />
    </div>

    <!-- Columna del texto -->
    <div class="col-md-6">
      <h1>Nicolás Casais Dassie</h1>
      <p>
        <span class="fw-bold">mail:</span> nicolas.casais.dassie&#64;gmail.com
      </p>
      <p>
        <span class="fw-bold"> perfil de github:</span> github.com/nicocasaisd
      </p>
      <p>
        <span class="fw-bold"> Explicación de mi juego: </span> Mi juego
        consiste en una versión del Wordle utilizando mi propia base de datos de
        palabras.
      </p>
    </div>
  </div>
</div>
