<div class="container form-signin mt-5 rounded-3">
  <h2>Registrarse</h2>
  <div class="form-floating">
    <input
      [(ngModel)]="userMail"
      type="email"
      name="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input
      [(ngModel)]="userPass"
      name="password"
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div>
      <div>
      @if(!authService.loggedUser) {
      <button class="btn btn-info m-2" (click)="register()">Registrarse</button>
  
      <p>
        ¿Ya estás registrado?
        <a routerLink="/login">Inicia sesión</a>
      </p>
    }
    </div>
</div>
