<div class="container mt-5 rounded-5 contenedor-principal">
  <div class="row">
    <div class="card mb-3 col-auto m-3" style="max-width: 18rem">
      <div class="card-header">Mayor ó Menor</div>
      <div class="card-body">
        <img src="cards.png" alt="" />
      </div>
    </div>
    <div class="card mb-3 col-auto m-3" style="max-width: 18rem">
      <div class="card-header">Ahorcado</div>
      <div class="card-body">
        <img src="hangman.png" alt="" />
      </div>
    </div>
    <div class="card mb-3 col-auto m-3" style="max-width: 18rem">
      <div class="card-header">Preguntados</div>
      <div class="card-body">
        <img src="question.png" alt="" />
      </div>
    </div>
  </div>
</div>
