<div class="container mt-5 rounded-5 contenedor-principal">
  <div class="card border-info mb-3" style="max-width: 18rem">
    <div class="card-header">Juego</div>
    <div class="card-body">
      <h5 class="card-title">Ahorcado</h5>
      <p class="card-text">En desarrollo.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem">
    <div class="card-header">Juego</div>
    <div class="card-body">
      <h5 class="card-title">Mayor o Menor</h5>
      <p class="card-text">En desarrollo.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem">
    <div class="card-header">Juego</div>
    <div class="card-body">
      <h5 class="card-title">Preguntados</h5>
      <p class="card-text">En desarrollo.</p>
    </div>
  </div>
</div>
