.contenedor-principal{
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    background-color: #3d5c4d;
    background-repeat: repeat;
}


img{
    width: 250px;
    height: auto;
}

/* Custom styles for the buttons */
.btn-higher {
    background-color: #28a745; /* Green background */
    color: white;
    border: none;
    width: 150px;  /* Adjust the width */
    height: 60px;  /* Adjust the height */
    font-size: 20px;  /* Make text larger */
    transition: all 0.3s ease;
    margin: 5%;
  }
  
  .btn-higher:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  .btn-lower {
    background-color: #dc3545; /* Red background */
    color: white;
    border: none;
    width: 150px;  /* Adjust the width */
    height: 60px;  /* Adjust the height */
    font-size: 20px;  /* Make text larger */
    transition: all 0.3s ease;
  }
  
  .btn-lower:hover {
    background-color: #c82333; /* Darker red on hover */
  }

  .result-message {
    font-size: 1.5rem;
    font-weight: bold;
    
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
  }
  
  .correct {
    color: green;
    background-color: rgba(0, 255, 251, 0.3);
  }
  
  .wrong {
    color: red;
    background-color: rgba(255, 115, 0, 0.3);
  }

