<div class="container form-signin mt-5 rounded-3">
  <h2>Iniciar sesión</h2>
  <h3>{{this.loggedUser}}</h3>
  <div class="form-floating">
    <!-- <input [(ngModel)]="email"  type="email" name = "email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
    <input
      [(ngModel)]="userMail"
      type="email"
      name="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <!-- <input [(ngModel)]="pass" name = "password" type="password" class="form-control" id="floatingPassword" placeholder="Password"> -->
    <input
      [(ngModel)]="userPass"
      name="password"
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div>
  <div>
    <button class="btn btn-info" (click)="login()">Iniciar sesión</button>
    <!-- <button class="btn btn-info" (click)="getData()">Obtener Registros</button> -->
  </div>
</div>
