.contenedor-principal {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  /* background-color: #236d7a; */
  background-image: url("/hangman-landscape.png");
  background-size: contain;
}

.container-letra {
  background-color: #dc3545; /* Red background */
  color: white;
  border: none;
  width: 38px; /* Adjust the width */
  height: 38px; /* Adjust the height */
  font-size: 20px; /* Make text larger */
  transition: all 0.3s ease;
  margin: 5px;
}

.container-letra:hover {
  background-color: #c82333; /* Darker red on hover */
}

.letra-ahorcado {
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.contenedor-letras{
  width: 70%;
}


/* Modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-image: linear-gradient(to top, #191919 0%, rgb(63, 63, 63) 100%); /* Un gradiente suave */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
    color: white;
}

.modal-content button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
