<!-- Modal de Fin de Juego -->
<div
  class="modal fade"
  id="endGameModal"
  tabindex="-1"
  aria-labelledby="endGameModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: gameEnded }"
  [ngStyle]="{ display: gameEnded ? 'block' : 'none' }"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="endGameModalLabel">Juego terminado</h5>
      </div>
      <div class="modal-body">
        <p>
          {{
            gameWon
              ? "¡Felicidades! Has ganado."
              : "Lo siento, has perdido. La palabra era: " + currentWord
          }}
        </p>
        El juego ha terminado. Desea volver al inicio?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="goHome()">
          Volver a Inicio
        </button>
        <button type="button" class="btn btn-primary" (click)="resetGame()">
          Jugar de nuevo
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor Principal -->
<div class="contenedor-principal">
  <app-btn-salir></app-btn-salir>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div>
      <img
        style="width: 30vw; height: auto; margin-top: 0"
        src="/header-ahorcado.png"
        alt=""
      />
    </div>
    <!-- Dibujo del ahorcado -->

    <div id="dibujo-ahorcado" class="text-center dibujo-ahorcado">
      <!-- SVG for hangman drawing -->
      <svg
        width="200"
        height="300"
        viewBox="0 0 200 300"
        xmlns="http://www.w3.org/2000/svg"
      >
        <!-- Base -->
        <line
          x1="10"
          y1="290"
          x2="190"
          y2="290"
          stroke="brown"
          stroke-width="8"
        />

        <!-- Pole -->
        <line
          x1="50"
          y1="290"
          x2="50"
          y2="50"
          stroke="brown"
          stroke-width="8"
        />

        <!-- Top bar -->
        <line
          x1="50"
          y1="50"
          x2="150"
          y2="50"
          stroke="brown"
          stroke-width="8"
        />

        <!-- Rope -->
        <line
          id="rope"
          x1="150"
          y1="50"
          x2="150"
          y2="100"
          stroke="orange"
          stroke-width="4"
          stroke-dasharray="3,3"
          visibility="hidden"
        />

        <!-- Head -->
        <circle
          id="head"
          cx="150"
          cy="120"
          r="20"
          stroke="darksalmon"
          stroke-width="4"
          fill="pink"
          fill-opacity="0.5"
          visibility="hidden"
        />

        <!-- Body -->
        <line
          id="body"
          x1="150"
          y1="140"
          x2="150"
          y2="220"
          stroke="darksalmon"
          stroke-width="4"
          visibility="hidden"
        />

        <!-- Left arm -->
        <line
          id="left-arm"
          x1="150"
          y1="160"
          x2="120"
          y2="180"
          stroke="darksalmon"
          stroke-width="4"
          visibility="hidden"
        />

        <!-- Right arm -->
        <line
          id="right-arm"
          x1="150"
          y1="160"
          x2="180"
          y2="180"
          stroke="darksalmon"
          stroke-width="4"
          visibility="hidden"
        />

        <!-- Left leg -->
        <line
          id="left-leg"
          x1="150"
          y1="220"
          x2="120"
          y2="260"
          stroke="darksalmon"
          stroke-width="4"
          visibility="hidden"
        />

        <!-- Right leg -->
        <line
          id="right-leg"
          x1="150"
          y1="220"
          x2="180"
          y2="260"
          stroke="darksalmon"
          stroke-width="4"
          visibility="hidden"
        />
      </svg>

      <!-- Palabra -->

      <div class="d-flex flex-wrap justify-content-center">
        <div
          *ngFor="let letter of currentWordList; let i = index"
          class="text-center"
        >
          <div id="letra{{ i }}">
            <!-- Condicional -->
            <ng-container *ngIf="revealedLetters[i]; else hiddenLetter">
              <span class="letra-ahorcado">{{ letter }}</span>
            </ng-container>
            <ng-template #hiddenLetter>
              <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                <!-- viewBox="0 0 200 100" -->
                <line
                  x1="10"
                  y1="80"
                  x2="90"
                  y2="80"
                  stroke="black"
                  stroke-width="4"
                />
              </svg>
            </ng-template>
          </div>
        </div>
      </div>
      <p>Puntaje: {{this.userScore}}</p>
    </div>

    <!-- <div class="text-center mt-4 d-flex"> -->
    <div class="d-flex flex-wrap justify-content-center contenedor-letras">
      @for (letra of this.letras; track $index) {
      <button
        (click)="revealLetter(letra)"
        class="container-letra d-flex justify-content-center align-items-center"
        id="letra-{{ letra.toLowerCase() }}"
      >
        {{ letra }}
      </button>
      }
    </div>
    <!-- </div> -->
  </div>
</div>
